<mat-card >
    <div style="background-color: aquamarine">
        <button mat-button [routerLink]="['/home']" routerLinkActive="router-link-active" > <h2>Home</h2></button>
        <button mat-button [routerLink]="['/signup']" routerLinkActive="router-link-active" ><h2>Signup</h2></button>
        <button mat-button [routerLink]="['/login']" routerLinkActive="router-link-active" ><h2>Login</h2></button>

    <button mat-button [routerLink]="['/login']" routerLinkActive="router-link-active" ><h2>Book List</h2></button>

    <!-- <button class="btn1" mat-button [routerLink]="['/books']" routerLinkActive="router-link-active" > <h2>Log out</h2></button> -->
  </div>
  </mat-card>
  <div style="text-align: center">
  <h2 style="color:darkmagenta">Welcome to Our site !!</h2>
  <p style="color:darkmagenta">Here you can save your Book deatils and edit or delete them based on your needs.<br><br>
    Please Login to get Book Details!
   </p><br>

  <img src="../../assets/book.jpg" style="width: 2260px;">
</div>

