<!-- <mat-card > -->
    <div style="background-color:blue" fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-button [routerLink]="['/home']" routerLinkActive="router-link-active" > <h2>Home</h2></button>

        <button mat-button [routerLink]="['/signup']" routerLinkActive="router-link-active" ><h2>Signup</h2></button>

        <button mat-button [routerLink]="['/login']" routerLinkActive="router-link-active" ><h2>Login</h2></button>

        <button mat-button (click)="tokenChecking()"><h2>Book List</h2></button>
        <!-- <button mat-button [routerLink]="['/logout']" routerLinkActive="router-link-active" ><h2>Log Out</h2></button>/ -->

   </div>
<!-- </mat-card> -->

  <div style="text-align: center">
      <h2 style="color:darkmagenta">Welcome to Our site !!</h2>
      <p style="color:darkmagenta">Here you can save your Book deatils and edit or delete them based on your needs.<br><br>
        Please Login to get Book Details!</p>
        <h3>Connect with me !!</h3>
        <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->

      <br>
      <p>Click here to  <a (click)="oauthLogin()" ><button>Login</button></a></p>
      <!-- <p>Click here   <a (click)="clickhere()" ><button>Click me</button></a></p> -->

</div>







