<div class="button-row">
  <a mat-raised-button color="accent" [routerLink]="['/books']"><mat-icon>list</mat-icon></a>
</div>
<mat-card>
    <div>
      <h3 style="color: darkseagreen">Enter your Book details below:</h3>
      <mat-form-field>
        <input type="number" matInput placeholder = 'ISBN' [(ngModel)]= "postedData.isbn" required="number">
      </mat-form-field><br>
      <mat-form-field>
        <input type="text" matInput placeholder= 'Title' [(ngModel)]= "postedData.title" required="title">
      </mat-form-field><br>
      <mat-form-field>
        <input type="text" matInput placeholder = "Author" [(ngModel)]= "postedData.author" required>
      </mat-form-field><br>
      <mat-form-field>
        <input type="text" matInput placeholder = "Description" [(ngModel)]= "postedData.description" required>
      </mat-form-field><br>
      <mat-form-field>
        <input type="text" matInput placeholder = "Publisher" [(ngModel)]= "postedData.publisher" required>
      </mat-form-field>
      <br>
      <button mat-stroked-button color='accent'  (click)="postBooks()">Save</button>
    </div>
  </mat-card>

