<div class="button-row" style="background-color: blue" fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-button [routerLink]="['/home']"><h2>Home</h2></button>
  <button mat-button [routerLink]="['/books']"><h2>Book List</h2></button>
  <button mat-button (click)="logout()"><h2>Log out</h2></button>
</div>
<div class="container" style="text-align: center">
  <div class="row">
    <div class="col-md-4"></div>
    <div >
      <mat-card>
      <!-- <form name="myForm" #myForm="ngForm" (ngSubmit)="editBook()"> -->
      <mat-form-field>
        <input type="number" matInput placeholder = 'ISBN' [(ngModel)]="books.isbn" name='isbn' >
      </mat-form-field><br>
      <mat-form-field>
        <input type="text" matInput placeholder= 'Title' [(ngModel)]= "books.title" name="title">
      </mat-form-field><br>
      <mat-form-field>
        <input type="text" matInput placeholder = "Author" [(ngModel)]= "books.author" name='author' required>
      </mat-form-field><br>
      <mat-form-field>
        <input type="text" matInput placeholder = "Description" [(ngModel)]= "books.description" name='description' required>
      </mat-form-field><br>
      <mat-form-field>
        <input type="text" matInput placeholder = "Publisher" [(ngModel)]= "books.publisher" name='publisher' required>

      </mat-form-field>
    </mat-card>
      <!-- </form> -->
    </div><br>

    <br>
  </div>
<div class="button-row" >
  <a mat-raised-button color="primary"  (click)= "updateBooks(books)"><mat-icon>update</mat-icon></a>
</div>

<!-- <button type="submit" class= (click)= "updateBooks(books)">update</button> -->
<!-- <button type="button" class='btn' [routerLink]="['/books']">list</button> -->


