  <mat-card>
      <div>
        <h3 style="color:lightblue">SignUp</h3>
        <mat-form-field>
          <input type="text" matInput placeholder = 'UserName' >
        </mat-form-field><br>
        <mat-form-field>
          <input type="text" matInput placeholder= 'E-mail' >
        </mat-form-field><br>
        <mat-form-field>
          <input type="text" matInput placeholder = 'Password'>
        </mat-form-field><br>
        <mat-form-field>
          <input type="text" matInput placeholder = 'Conform Password'>
        </mat-form-field><br>
        <br>
        <button mat-stroked-button color='accent' >Save</button>
      </div>
    </mat-card>

