body{
  height: 100vh;
  vertical-align: middle;
  padding-left: 20px;
}
.matcard{
  background-color: deeppink;
}
.container{
  align-items: center;
  text-align: center;
  display: flex;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;


  justify-content: center;
  /* height: 100vh; */
 /* vertical-align: middle; */
 /* padding-left: 20px; */
  width: 50rem ;
  height: 20rem;
  border: 2px solid pink;
}
